@mixin walo {
    --header: #141414;
    --on-header: #ffffff;

    --body: #ffffff;
    --on-body: #112211;
    --chip: rgba(18, 18, 18, 0.2);

    --link: #228199;

    --rim: rgba(0, 0, 0, 0.1);

    --code: rgba(0, 0, 0, 0.05);
    --big-code: rgba(0, 0, 0, 0.1);

    --lojunu: #ffa4c5;
    --loje: #ffa893;
    --lojelo: #ffb777;
    --jelo: #cac976;
    --graso: #8ed890;
    --laso: #66dfc2;
    --blaso: #5bddfd;
    --lasewi: #76d0ff;
    --lasunu: #b3beff;
    --unu: #fbadff;
}

@mixin pimeja {
    --header: #141414;
    --on-header: #ffffff;

    --body: #1F1F1F;
    --on-body: #eff0f1;
    --chip: rgba(18, 18, 18, 0.2);

    --code: rgba(255, 255, 255, 0.1);
    --big-code: #121212;

    --link: #8adcff;

    --rim: rgba(255, 255, 255, 0.1);

    --lojunu: #ffa4c5;
    --loje: #ffa893;
    --lojelo: #ffb777;
    --jelo: #cac976;
    --graso: #8ed890;
    --laso: #66dfc2;
    --blaso: #5bddfd;
    --lasewi: #76d0ff;
    --lasunu: #b3beff;
    --unu: #fbadff;
}

$colors: lojunu, loje, lojelo, jelo, graso, laso, blaso, lasewi, lasunu, unu;

@each $color in $colors {
    .fg-#{$color} {
        color: var(--#{$color}) !important;
    }
    [data-nasin-lukin="walo"] .bg-#{$color} {
        background-color: var(--#{$color}) !important;
    }
    @media (prefers-color-scheme: light) {
        .bg-#{$color} {
            background-color: var(--#{$color}) !important;
        }
    }
    [data-nasin-lukin="pimeja"] .bg-#{$color} {
        border: 3px solid var(--#{$color});
        box-shadow: 0 0 40px var(--#{$color}) !important;
    }
    @media (prefers-color-scheme: dark) {
        :root:not([data-nasin-lukin="walo"]).bg-#{$color} {
            border: 3px solid var(--#{$color});
            box-shadow: 0 0 40px var(--#{$color}) !important;
        }
    }
}

.fg-body {
    color: var(--on-body) !important;
}

.fg-link {
    color: var(--link) !important;
}

:root {
    @include walo;
}

@media (prefers-color-scheme: dark) {

:root {
    @include pimeja;
}

}

[data-nasin-lukin="walo"] {
    @include walo;
}
[data-nasin-lukin="pimeja"] {
    @include pimeja;
}

*:not(button) {
    transition: color 200ms, background-color 200ms;
}
