@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
    font-family: 'linja insa';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/linjainsa-Regular.woff2') format('woff2'),
        url('/linjainsa-Regular.woff') format('woff'),
        url('/linjainsa-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'linja insa luka';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/linjainsaluka-Regular.woff2') format('woff2'),
        url('/linjainsaluka-Regular.woff') format('woff'),
        url('/linjainsaluka-Regular.otf') format("opentype");
}

.prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"], [class~="not-prose"] *))::after {
	content: no-close-quote;
}

.prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"], [class~="not-prose"] *))::before {
	content: no-open-quote;
}

.prose :where(blockquote):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
	font-style: normal;
}

.page-item a {
	@apply py-2 px-4 rounded-full hover:bg-laso/50 inline-block;
}

.page-item.active a {
	@apply bg-laso hover:bg-lasewi;
}

.page-item.disabled a {
	@apply opacity-50 hover:bg-transparent;
}
.page-item.disabled a {
	@apply cursor-default;
}

.prose img {
	@apply rounded-lg;
}

:root:lang(sp) {
	@apply text-2xl;
}

:root:lang(sp) .prose {
	@apply
		prose-h1:my-2
		prose-h2:my-2
		prose-li:my-0
		prose-p:mb-0
		prose-headings:font-linja-insa
		font-linja-insa-luka;
}
