<script>
    function opensearch() {
        document.getElementById("iloalasa").style.display = "initial"
    }
    function alasa() {
        console.log(document.getElementById("search").value)
        console.log(searchIndex.search(document.getElementById("search").value))
        window.location.href = searchIndex.search(document.getElementById("search").value)[0].ref
    }
</script>
<header class="flex flex-row justify-between p-6">
    <div class="flex flex-row space-x-4">
        <a href="/"><h1>lipu kule</h1></a>
        <a onclick="opensearch()"><h1>ilo alasa</h1></a>
    </div>
    <a href="/mi/o-kama-sitelen-e-lipu-kule/"><h1>o kama sitelen e <em>lipu kule!</em></h1></a>
</header>
