<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ $sass := resources.Get "sass/main.scss" }}
    {{ $style := $sass | resources.ToCSS | fingerprint }}

    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" />

    {{ $typescript := resources.Get "ts/main.ts" | babel }}
    {{ $javascript := slice $typescript | resources.Concat "ts/main.js" }}

    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script>
        fetch("/page-index.json").
            then(data => data.json()).
            then(body => {
                let idx = lunr.Index.load(body)
                window.searchIndex = idx
            })
    </script>
    <script defer src='{{ $javascript.RelPermalink }}'></script>

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
