{{ range . }}

{{ $s := site }}

<div class="lt-card lt-article-card {{ with .Params.kule }} bg-{{ index $s.Data.poki . "kule" }} {{ end }} prose prose-small" onclick="location.href = {{ .RelPermalink }}" role="button">

    <div class="len">
        <div>
            <span>len li tan ni:</span>
            <ul>
                {{ with .Params.poki }}
                {{ range first 1 . }}
                <li>{{ . }}</li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>

    {{ with .Params.thumbnail }}
        <div class="thumbnail"><img class="lt-article-card-thumbnail" src="{{ . }}" alt="Thumbnail" style="margin-top: 0; margin-bottom: 0;"/></div>
    {{ end }}

    <h2 class="lt-article-card-title" style="margin-bottom: 0.2em; margin-top: 0.2em;">{{ .Title }}</h2>

    {{ with .Params.janpali }}
    {{range first 2 . }}
    <address class="lt-article-card-author"> <a href="{{ relURL (print "/janpali/" . | urlize) }}">tan {{ . }}&nbsp;</a></address>{{ end }}
    {{ end }}

    <p>
        {{ .Summary }}
    </p>

    {{ with .Params.poki }}
    <div class="lt-article-card-row">
        <div class="lt-article-card-row-spacer"></div>
        {{ range . }}
        <a class="lt-article-card-chip" href="{{ relURL (print "/poki/" . | urlize) }}">{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}
</div>

{{ end }}