<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div class="lt-content-wrapper">
            <div class="lt-content">
                <form style="display: none;" id="iloalasa" onsubmit="alasa(); return false">
                    <input type="text" id="search"></textarea>
                    <button type="submit">o alasa</button>
                </form>
                <header class="lt-header prose">
                    {{- block "heading" . }}{{- end }}
                </header>
                <main>
                    {{- block "main" . }}{{- end }}
                </main>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
