{{ define "heading" }}
{{ partial "heading.html" . }}
{{ end }}

{{ define "main" }}

<article class="flex justify-center">

<div class="w-full max-w-2xl">
    {{ with .Params.thumbnail }}
    <img class="rounded-lg h-48 w-full object-cover" src="{{ . }}" alt="Thumbnail" />
    {{ end }}

    <div class="prose prose-lg dark:prose-invert">
    {{ .Content }}
    </div>
</div>

</article>


{{ if or (.NextInSection) (.PrevInSection) }}

<footer class="flex justify-center py-4">
    <div class="w-full max-w-2xl flex justify-between">
        {{ if .NextInSection }}
        <a class="p-2 bg-black/10 backdrop-saturate-150 rounded-lg" href="{{ .NextInSection.Permalink }}">
            {{ T "previous" }}
            sin: {{ .NextInSection.Title | truncate 50 "..."}}
        </a>
        {{ else }}
        <div></div>
        {{ end }}

        {{ if .PrevInSection }}
        <a class="p-2 bg-black/10 backdrop-saturate-150 rounded-lg" href="{{ .PrevInSection.Permalink }}">
            {{ T "next" }}
            majuna: {{ .PrevInSection.Title | truncate 50 "..." }}
        </a>
        {{ else }}
        <div></div>
        {{ end }}
    </div>
</footer>

{{ end }}

{{ end }}
